In [5]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

# Get Locol/driver ip address
import socket
hostname = socket.gethostname()
driverIpAddress = socket.gethostbyname(hostname)

config = {
    #  kubectl -n spark-sapp-work describe secret $(kubectl -n spark-sapp-work get secret | (grep spark || echo "$_") | awk '{print $1}') | grep token: | awk '{print $2}'
    "spark.kubernetes.authenticate.oauthToken": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ik92a2tYVFhwbVNndUR0QnZDLTVsSkFIRk1sR0VuWWdJbE5qVXZNTUZlQkkifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJzcGFyay1zYXBwLXdvcmsiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoic3BhcmstdG9rZW4temJzamsiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoic3BhcmsiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiJhNDc0ZTJmOS05ZDg2LTQyYWQtYTI3MC1kZjA4ODg5MDM1MjgiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6c3Bhcmstc2FwcC13b3JrOnNwYXJrIn0.YnzgfcSst0Vh2lQ0e0AJwDMi6dQjr3EPFzFL63lbmExu1-b83kAVCuvaiflVhUZqv1eTrdUEQhj23uXPuXr4hD8GvoiBar15N4Yi_m6IMGIrXbH0O1TKtn-uZjY6yreAoE1tm28VrFkI9PLwD9qqu3kgjujhs0e5p3uDAVlc-R4vRwYGQD2zbsARHunWSnR46k8Or2Wf5Hoaye3R1WFqoXQn_hT5tz3hT1XrAyJze88c8Dz2Qj0wiscVMEBu2_Oc7f_iTCsjdx3FdSxuToCS4D-Hw_BSXbvc8Z7_Zn4_ReXhNyo7nR4gWXZ_bNf6ojh3oU1y1SmL17b34yixCRpO9w",
    "spark.kubernetes.container.image": "ghcr.io/opendataplatform/spark-odp:3.2.1",
    "spark.kubernetes.namespace": "spark-sapp-work",
    "spark.kubernetes.container.image.pullPolicy": "Always",
    "spark.executor.instances": "2",
    "spark.kubernetes.executor.limit.cores": "1500m",
    "spark.kubernetes.executor.request.cores": "500m",
    "spark.executor.memory": "1g",
    "spark.kubernetes.authenticate.executor.serviceAccountName": "spark",
    "spark.hadoop.fs.s3a.endpoint": "https://n0.minio1:9000",
    "spark.hadoop.fs.s3a.access.key": "spark-sapp",
    "spark.hadoop.fs.s3a.secret.key": "pd2t3yiizB0hTRjQOiIMihNNwMGeBM9P1vd1We2cUK1_MrAkRzY4qg==",
    "spark.hadoop.fs.s3a.commection.ssl.enabled": "true",
    # Spark History Logs
    "spark.eventLog.enabled": "true",
    "spark.eventLog.dir": "s3a://spark-sapp/eventlogs",
    # Metastore
    "spark.hive.metastore.uris": "thrift://hive-metastore.spark-sapp-sys.svc:9083",
    "spark.sql.warehouse.dir": "s3a://spark-sapp/warehouse",
    "hive.metastore.warehouse.dir": "s3a://spark-sapp/warehouse",
    # Constant values
    "spark.hadoop.mapreduce.outputcommitter.factory.scheme.s3a": "org.apache.hadoop.fs.s3a.commit.S3ACommitterFactory",
    "spark.hadoop.fs.s3a.committer.name": "directory",
    "spark.hadoop.fs.s3a.committer.staging.tmp.path": "tmp/spark_staging",
    "spark.hadoop.fs.s3a.buffer.dir": "/tmp/spark_local_buf",
    "spark.hadoop.fs.s3a.committer.staging.conflict-mode": "fail",
    "spark.hadoop.fs.s3a.impl": "org.apache.hadoop.fs.s3a.S3AFileSystem",
    "spark.hadoop.fs.s3a.path.style.access": "true",
    "spark.hadoop.fs.s3a.fast.upload": "true",
        
    # "spark.driver.blockManager.port": "7777",
    # "spark.driver.port": "2222",
    "spark.driver.host": driverIpAddress,
    "spark.driver.bindAddress": "0.0.0.0",

    "spark.sql.legacy.allowNonEmptyLocationInCTAS": "true"
}
    
def get_spark_session(app_name: str, conf: SparkConf):
    conf.setMaster("k8s://https://kubernetes.default.svc")
    for key, value in config.items():
        conf.set(key, value)    
    return SparkSession.builder.appName(app_name).config(conf=conf).enableHiveSupport().getOrCreate()

spark_conf= SparkConf()

In [6]:
spark = get_spark_session("ctemp-jup-py", spark_conf)

In [9]:
 df = spark.read.options(header='True', inferSchema='True', delimiter=",").csv("s3a://spark-sapp/data/city_temperature.csv")

In [10]:
df.show()

+------+-------+-----+-------+-----+---+----+--------------+
|Region|Country|State|   City|Month|Day|Year|AvgTemperature|
+------+-------+-----+-------+-----+---+----+--------------+
|Africa|Algeria| null|Algiers|    1|  1|1995|          64.2|
|Africa|Algeria| null|Algiers|    1|  2|1995|          49.4|
|Africa|Algeria| null|Algiers|    1|  3|1995|          48.8|
|Africa|Algeria| null|Algiers|    1|  4|1995|          46.4|
|Africa|Algeria| null|Algiers|    1|  5|1995|          47.9|
|Africa|Algeria| null|Algiers|    1|  6|1995|          48.7|
|Africa|Algeria| null|Algiers|    1|  7|1995|          48.9|
|Africa|Algeria| null|Algiers|    1|  8|1995|          49.1|
|Africa|Algeria| null|Algiers|    1|  9|1995|          49.0|
|Africa|Algeria| null|Algiers|    1| 10|1995|          51.9|
|Africa|Algeria| null|Algiers|    1| 11|1995|          51.7|
|Africa|Algeria| null|Algiers|    1| 12|1995|          51.3|
|Africa|Algeria| null|Algiers|    1| 13|1995|          47.0|
|Africa|Algeria| null|Algiers|    1| 14|1995|          46.9|
|Africa|Algeria| null|Algiers|    1| 15|1995|          47.5|
|Africa|Algeria| null|Algiers|    1| 16|1995|          45.9|
|Africa|Algeria| null|Algiers|    1| 17|1995|          44.5|
|Africa|Algeria| null|Algiers|    1| 18|1995|          50.7|
|Africa|Algeria| null|Algiers|    1| 19|1995|          54.0|
|Africa|Algeria| null|Algiers|    1| 20|1995|          52.6|
+------+-------+-----+-------+-----+---+----+--------------+
only showing top 20 rows

In [11]:
df.createOrReplaceTempView("_src_")

In [12]:
spark.sql("CREATE DATABASE IF NOT EXISTS sapp")

DataFrame[]

In [13]:
 spark.sql("DROP TABLE IF EXISTS sapp.ctemp_jup_py")

DataFrame[]

In [15]:
spark.sql("CREATE TABLE IF NOT EXISTS sapp.ctemp_jup_py USING PARQUET LOCATION 's3a://spark-sapp//warehouse/sapp.db/ctemp_jup_py' AS SELECT * FROM _src_")

DataFrame[]

In [16]:
spark.sql("show databases;").show()

+---------+
|namespace|
+---------+
|  default|
|     sapp|
+---------+

In [17]:
spark.sql("show tables from sapp;").show()

+---------+------------------+-----------+
|namespace|         tableName|isTemporary|
+---------+------------------+-----------+
|     sapp|    ctemp_awf_java|      false|
|     sapp|      ctemp_awf_py|      false|
|     sapp|ctemp_desktop_java|      false|
|     sapp|  ctemp_desktop_py|      false|
|     sapp|        ctemp_java|      false|
|     sapp|    ctemp_job_java|      false|
|     sapp|      ctemp_job_py|      false|
|     sapp|      ctemp_jup_py|      false|
|     sapp|          ctemp_py|      false|
|     sapp|                t1|      false|
|         |             _src_|       true|
+---------+------------------+-----------+

In [18]:
spark.sql("DESCRIBE TABLE sapp.ctemp_jup_py").show()

+--------------+---------+-------+
|      col_name|data_type|comment|
+--------------+---------+-------+
|        Region|   string|   null|
|       Country|   string|   null|
|         State|   string|   null|
|          City|   string|   null|
|         Month|      int|   null|
|           Day|      int|   null|
|          Year|      int|   null|
|AvgTemperature|   double|   null|
+--------------+---------+-------+

spark.sql("SELECT COUNT(*) FROM sapp.ctemp_jup_py").show()

In [25]:
spark.sql("SELECT * FROM sapp.ctemp_jup_py WHERE AvgTemperature != -99 ORDER BY AvgTemperature ASC").show()

+-------------+-------+------+---------+-----+---+----+--------------+
|       Region|Country| State|     City|Month|Day|Year|AvgTemperature|
+-------------+-------+------+---------+-----+---+----+--------------+
|North America|     US|Alaska|Fairbanks|   12| 31|1999|         -50.0|
|North America|     US|Alaska|Fairbanks|    2|  5|1999|         -49.1|
|North America|     US|Alaska|Fairbanks|    1| 29|2012|         -47.7|
|North America|     US|Alaska|Fairbanks|    1|  1|2000|         -46.9|
|North America|     US|Alaska|Fairbanks|    1|  5|1997|         -46.2|
|North America|     US|Alaska|Fairbanks|    2|  4|1999|         -45.9|
|North America|     US|Alaska|Fairbanks|   12| 30|1999|         -45.8|
|North America|     US|Alaska|Fairbanks|    1| 27|2006|         -45.8|
|North America|     US|Alaska|Fairbanks|    1|  3|2000|         -45.6|
|North America|     US|Alaska|Fairbanks|    1|  2|2000|         -44.7|
|North America|     US|Alaska|Fairbanks|    1| 28|2012|         -44.3|
|North America|     US|Alaska|Fairbanks|    1| 13|2000|         -44.3|
|North America|     US|Alaska|Fairbanks|    2|  3|1999|         -44.1|
|North America|     US|Alaska|Fairbanks|    1| 15|2012|         -43.8|
|North America|     US|Alaska|Fairbanks|    1| 18|2017|         -43.7|
|North America|     US|Alaska|Fairbanks|    1| 19|2017|         -43.5|
|North America|     US|Alaska|Fairbanks|    1|  6|2009|         -43.4|
|North America|     US|Alaska|Fairbanks|    1|  3|1997|         -43.3|
|North America|     US|Alaska|Fairbanks|   12| 21|2012|         -43.0|
|North America|     US|Alaska|Fairbanks|    1| 12|2005|         -43.0|
+-------------+-------+------+---------+-----+---+----+--------------+
only showing top 20 rows

In [26]:
spark.stop()